<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Setup</title>
    <link rel="stylesheet" href="style.css
    ">
</head>
<body>
    <h1>We are learning the Ejs <%= name %></h1>
    <ul>
        <li>
           
            Name : <%= products[0].name %> Mobile :  <%=products[0].phone %>
                
        </li>
    </ul>

</body>
</html>